
:root{
--primary:#0B0C10;
--primary-light:#1F2833;
--primary-dark:#181f27;
--secondary-light:#66FCF1;
--secondary-medium:#45A29E;
--tertiary:#C5C6C7;  
--text:#ffff;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
  color:var(--secondary-medium);

  /*
  1rem=10px
  */
}
.App{

  min-height: 100vh;
  background-image: linear-gradient(to right bottom ,var(--primary),var(--primary-light));
  /* background-size: cover; */
  /* background-image: url(https://image.tmdb.org/t/p/original/kwUQFeFXOOpgloMgZaadhzkbTI4.jpg); */

  /* background-position: center;
  background-color:var(--primary-light); */
}


.logo-title{
  padding: 2rem;
  font-size: 2.5rem;
  font-family: 'Source Code Pro', monospace;
}



  