.header {
	min-height: 100vh;
	width: 100%;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	height: 100%;



}

.header-wrapper {
	background: linear-gradient(
		77deg,
		rgba(0, 0, 0, 0.6) 0,
		rgba(0, 0, 0, 0) 85%
	);
	position: absolute;
	top: 0;
	left: 0;
	right: 26.09%;
	bottom: 0;
	opacity: 1;
	height: 100vh;
	width: 75%;
	display: grid;
	align-items: center;
}

.header-row {
	position: absolute;
	top: 0;
	left: 0;
	height: 10vh;
	width: 100%;
	background-image: linear-gradient(
		to bottom,
		rgba(0, 0, 0, 0.7) 10%,
		rgba(0, 0, 0, 0)
	);
	transition: all ease-out 0.3s;
	z-index: 3;
	padding: 2rem;
	display: flex;
	align-items: center;
}

.header-row__list {
	margin-bottom: 3rem;
	position: relative;
}
.header-row__tile {
	margin-bottom: 3rem;
	position: relative;
	background: transparent;
	backdrop-filter: blur(0.5rem);
}
.header__title {
	font-size: 4rem;
	margin-bottom: 2.5rem;
}

.header-desc {
	display: flex;
	flex-direction: column;
	color: var(--text);
	font-size: 2rem;
	align-items: center;
	padding: 2.5rem;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.45);
	align-items: flex-start;
}

.search-box {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	cursor: pointer;
}

.search-box input {
	color: #fff;
	display: inline-block;
	background: 0 0;
	border: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0.9rem 2rem 0.9rem 3rem;
	font-size: 1.4rem;
	width: 28rem;
	outline: 0;
	background-color: rgba(37, 37, 37, 0.61);
	transition: all 0.3s;
	transform-origin: right;
	border-radius: 0.5rem;
}

.search-box svg {
	margin-right: -2.2rem;
	z-index: 1;
}
.hide {
	transform: scaleX(0);
}
.show {
	transform: scaleX(1);
}
.season-text {
	font-size: 3rem;
	font-weight: 300;
}

@media only screen and (max-width:62.5em){
	.header{
		display: none;
	}

	.search-box svg{
		display: none;
	}
	.search-box input{
		transform: scaleX(1);
		width: 20rem;
	}

	}

	@media only screen and (min-width:62.5em){
		.mobile-header{
			display: none;
		}
	}


/* .header-filter {
	height: 5vh;
	width: 100%;
	background-image: linear-gradient(
		to bottom,
		rgba(0, 0, 0, 0.7) 10%,
		rgba(0, 0, 0, 8)
	);
} */
/* .img-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}
.img-static{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: contain;
} */

/*

header styles
    position: absolute;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    opacity: 1;


*/

/* background: linear-gradient(77deg,rgba(0,0,0,.6) 0,rgba(0,0,0,0) 85%);
position: absolute;
top: 0;
left: 0;
right: 26.09%;
bottom: 0;
opacity: 1; */

/*
image wrapper


*/
.header-filter {
	position: absolute;
	left: 0;
	top: 95vh;
	height: 5vh;
	width: 100%;
	background-image: linear-gradient(
		/* 180deg,
		transparent,
		rgba(37, 37, 37, 0.61),
		var(--primary) */
		rgba(37, 37, 37, 0), var(--primary)
	);
}

.header-overview {
	width: 50%;
}
.header-overview__text {
	font-weight: 300;
}
.header__title {
	font-weight: normal;
}
.header-btns__box {
	display: grid;
	grid-template-columns: repeat(3, max-content);
	gap: 0 1.5rem;
	transition: all 0.3s;
}

.btn {
	border: none;
	padding: 1rem;
	border-radius: 0.3rem;
	background-color: transparent;
	margin-top: 2.5rem;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 700;
	outline: none;
	color: rgb(20, 20, 20);
	transition: all 0.3s;
}

.btn--white {
	background-color: rgb(255, 255, 255);
}

.btn--grey {
	background-color: rgba(187, 186, 186, 0.15);
	color: var(--text);
}
.btn--black {
	color: var(--text);
	background-color: rgb(20, 20, 20);
}
.header-btns__box a {
	text-decoration: none;
}
/* .header-btns__box:hover > *:not(:hover){
transform: scale(0.9);
} */
.header-btns__box > * {
	transition: all 0.3s;
	backface-visibility: none;

}
.header-btns__box > *:hover {
	transform: translateY(-0.5rem);

}

/* .header-btns__box > *{
	transform: translateZ(0);
}  */

/* .btn--white:hover{
	background-color:rgb(20,20,20);
	color:rgb(255, 255, 255);

}
.btn--grey:hover{
background-color: var(--text);
color:rgba(187, 186, 186,0.15) ;

}

.btn--black:hover{
	background-color: var(--text);
	color:rgb(20,20,20) ;

} */
