.movie-box {
	padding: 3rem;
	
}
.movie-box--home{
	position: relative;

}
/* .movie-box--trailer::-webkit-scrollbar{
	display: none;
} */
.movie-box__scroll {
	margin-top: -15rem;
}
.movie-box__title {
	font-size: 2.5rem;
	color: var(--text);
	margin-bottom: 2.5rem;
	color: var(--tertiary);
}

.movie-row--likes {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(13rem, 20rem));
	gap: 3rem;
}

.movie-row {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
	gap: 2rem;
	padding: 2rem;
}

.movie-row__scroll {
	display: grid;
	/* grid-template-columns: repeat(auto-fit,minmax(20rem,1fr)); */
	gap: 2rem;
	grid-auto-flow: column;
	overflow-y: hidden;
	overflow-x: scroll;
	padding: 2rem;
}

.movie-row__scroll::-webkit-scrollbar {
	display: none;
}

@media only screen and (max-width:62.5em){
    .movie-row{
		grid-template-columns: none;
		grid-auto-flow: column;
		overflow-y: hidden;
		overflow-x: scroll;
	}
	
	.movie-row::-webkit-scrollbar{
display: none;
	}
}