.movie-poster{
    width: 100%;
    height: 100%;

    /* height: 100%; */
    /* object-fit: contain; */
   border-radius: 1rem;
    transition: all .3s;
    display: block;
}
.movie-poster__scroll{
    width: 15rem;

}

.movie-poster-box:hover{
    transform: scale(1.1);
}

.movie-row{
    transition: all .3s;
}

.movie-poster-box{
    position: relative;
    transition: all .3s;
}

.movie-row:hover > div:not(:hover){
    transform: scale(0.9);
}
.movie-row__scroll:hover > div:not(:hover){
    transform: scale(0.9);
}


.movie-poster__filter{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:transparent;
    z-index: 0;
    border-radius: 1rem;
    transition: all .3s ease-in;
    cursor: pointer; 
}
.movie-poster-box:hover .movie-poster__filter{
    background-color: rgba(69, 162, 158,0.5);
   

}

.movie-poster-box:hover  .icon-box{
 transform: translate(-50%,-50%);
 opacity: 1;
    
}


.icon-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,50%);
    display: grid;
    grid-template-columns: repeat(3,min-content);
    gap: 0 2.5rem;
    opacity: 0;
    transition: all .3s .1s;
    cursor: pointer;
    place-items: center;

}
.icon-box--tv{
    gap:0 3rem;
    grid-template-columns: repeat(2,min-content);
    place-items: center;

}
.icon-box--tv svg{
    width: 2.5rem;
    height: 2.5rem;

}

.icon-heart:hover{
animation: 1.5s ease 0s infinite beat;
}
.svg-watch{
    transition: all .3s;
}

.svg-watch:hover{
    transform: scale(1.15);
}
.svg-play{
    transition: all .3s;
}

.svg-play:hover{
    transform: scale(1.15);
}




@keyframes beat {
    0%, 50%, 100% { transform: scale(1.2, 1.2); }
    30%, 80% { transform: scale(0.92, 0.95); }
  }
/* 
  linear-gradient(to bottom,rgba(0,0,0,.7) 10%,rgba(0,0,0,0)) */


  /* 
  before scroll
  top: 0px;
  position: relative;
  background: transparent; */


  /*
  afterscroll
top: 0px;
    position: fixed;
    background: rgb(20, 20, 20);

  */