.navbar-list{
    display: grid;
    grid-template-columns: repeat(4,min-content) repeat(2,max-content);
    gap: 0 3rem;
    font-size:1.4rem;
}

.navbar-list li{
    list-style: none;
    cursor: pointer;
}

.link-item{
    text-decoration: none;
    color: var(--tertiary);
    transition: all .5s;
  
}

.link-item:hover{
    color: var(--text);
}

.active{
    color: var(--text);
}