.result-box{
    display: grid;
    place-items: center;
    /* margin: auto; */
    height: 60vh;
    width: 100%;
}


.result-box__text{
    color: var(--primary-dark);
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    align-items: center;
}